.cart{
    margin-top: 100px;
}
.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(0.9vw, 12px);
}
.cart-items-item{
    margin: 10px 10px;
    color: black;
}
.cart-items-item img{
    width: 70px;
    border-radius: 20%;
}
.cart hr{
    background-color: #e3e3e3e3 ;
    height: 1px;
    border: none;
}
.cart-items-item .cross{
    width: 30px;
    cursor: pointer;
}
.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
}
.cart-total{
    width: 40vh ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-total hr{
    margin: 10px 0px;
}
.cart-total button{
    border: none;
    color: white;
    background-color: rgb(34, 235, 171);
    width: max(15vw, 200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
}
.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}
@media (max-width:750px) {
    .cart-bottom{
        flex-direction: column-reverse;
    }
}